h1{
    color: black;
    font-size: 100px;

    display: inline-block;
    font-family: 'Palatino', serif;
}

#second-header{
    color:white;
}

p{
    font-size: 14px;
    width: 30%;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

#nav-bar{
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100vw;
    height: 10px;

    display: flex;
    flex-direction: row;
    
}

#nav-text{
    width:50%;

    display: flex;
    
}

#nav-social{
    width: 50%;

}

#hero-wrapper{
    
    width: 600px;
    text-align: center;
    
    position: relative;
    z-index: 2;
    
    
}

#hero-beans{
    background-image: url("img/beans-min.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    
    position: absolute;
    z-index: 1;
    
    top: 0px;
    right:0px;
    

    width: 50%;
    height: 1000px;

}