body{
    font-family: 'Avenir',sans-serif;

    background-color: #f7f7f7;

    margin: 0px;
}

#header-1{
    color: black;
    font-size: 75px;
    
    font-family: 'Palatino', serif;
    margin-bottom: 0px;

    animation-name:"header-1";
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
}




@keyframes header-1{
    0% { 
    transform: translate(0, -50%); opacity: 0.1;}
    100% { 
        transform: translate(0, 0%); opacity: 1;}
}



#second-header{
    color:white;
    padding-left: 75px;
    font-family: 'Palatino', serif;
    margin-bottom: 0px;
    font-size: 75px;
}

@keyframes second-header{
    0% { 
        transform: translateY(50%); opacity: 0.1;
    }
    100% { 
        transform: translateY(0%); opacity: 1};
    }


p{
    font-size: 14px;
    width: 35%;
    text-align: right;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;

}

#nav-bar{
    position: absolute;
    z-index: 5;
    top: 0px;
    width: 100vw;
    height: 10px;

    display: flex;
    flex-direction: row;
    
}
    
#nav-social{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: centre;
    
    height: 50px; 

}

#nav-text{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: centre;
    padding: 5px;
    height:50px;
}

#icon{
    height: 22px;
    margin-right: 50px;
    
}

#menu-link{
    color: white;
    margin-left: 50px;
}

#hero-wrapper{
    
    width: 600px;
    text-align: center;
    
    position: relative;
    z-index: 2;
    padding-left: 37px;
      
}

#heading-wrapper{
    display: flex;
    justify-content: centre;
    align-items: centre;
}

#hero-beans{
    background-image: url("img/beans-min.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    
    position: absolute;
    z-index: 1;
    
    top: 0px;
    right:0px;
    

    width: 50%;
    height: 100%;

}

@media screen and (max-width: 600px) {
    #hero-beans{
         top: 500px;

         right: 0px;
         left: 0px;

         width: 100%;
         height: 50%;
    }
}

.standard-margin-section{
    padding-top: 200px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    
}

.columns-wrapper{
    display: flex;
    

}

.column{
    max-width: 30%;
    background-color: white;

}

.column-image{
    width: 100%;
}

.middle{
    margin-right: 20px;
    margin-left: 20px;
}

.column-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);

    grid-gap: 15px;
}

.espresso-pic{
    background-image: url("img/esspre.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row:1/2;
    
}


.cappucino-pic{
    background-image: url(img/cappu.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 50%;
}


.grid-text{
    grid-column: 1/2;
    grid-row: 1/2;

    background-color: white;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second{
    grid-column: 3/4;
    grid-row: 2/3;

}
.grid-writing{
    width: 100%;
    text-align: left;
}

.standard-margin-section-2{
    display: flex;
    padding-top: 200px;
    width: 100vw;
}
    
.esp-pic{
    background-image:url(img/esp_.jpg);
    background-size:cover;
    background-position:center;
    width: 49%;
    margin-right: 15px;
    display:flex; 
    justify-content: center;
    align-items: center;


}

form{
    width: 50%;
    margin-left: 15px;
    
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: white;
}

input[type=submit]{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

#contact-heading{
    color: white;

}

input, textarea{
    margin-top: 25px;
    padding-left: 15px;

    font-size: 20px;
}


.footer-wrapper{
    margin-top: 200px;
    background-color: white;
}

.footer{
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom:  20px;
}

.footer-link{
    margin-left: 15px;
}

.copyright-wrapper{
    background-color: #f7f7f7;
}

.copyright-text{
    width: 100%;
    text-align: center;
    font-size: 10px;
}

#footer-heading{
    margin: 0px;
    font-size: 35px;
}